$corDeFundo: rgba(7, 35, 137, 1);
$corDeFundoBotao: rgba(99, 198, 211, 1);
$corDeFundoDoBody: rgba(217, 217, 217, 1);
$corDoTextoPrimaria: #000;
$corTextoSecundaria: #e56b00;
$corTextoTerciaria: #fff;